Data Analysis/Praticing/.ipynb_checkpoints/*


Machine Vision/Praticing/.ipynb_checkpoints/*
Machine Vision/Praticing/D28 Object Detection 程式導讀/*
Machine Vision/Praticing/D32 YOLO 細節理解 - 損失函數/*
Machine Vision/Praticing/D34 YOLO 細節理解 - 網路架構程式碼解讀/*
Machine Vision/Praticing/D36_keras-yolo3-master/*
Machine Vision/Praticing/D37_model_data/*
Machine Vision/Praticing/D39_kaggle人臉關鍵點資料集/*


Natural Language Processing/Praticing/__pycache__/*
Natural Language Processing/Praticing/.ipynb_checkpoints/*
Natural Language Processing/Praticing/D07 data/*
Natural Language Processing/Praticing/averaged_perceptron_tagger/*
Natural Language Processing/Praticing/D20_KNN 實作_spam_data/*
Natural Language Processing/新聞分類器/data/*
Natural Language Processing/Rule-based chatbot/LineBot/config.ini
Natural Language Processing/Rule-based chatbot/LineBot/.ipynb_checkpoints/*
Natural Language Processing/Rule-based chatbot/LineBot/__pycache__/*
