homework/.ipynb_checkpoints/*
homework/D28 Object Detection 程式導讀/*
homework/D32 YOLO 細節理解 - 損失函數/*
homework/D34 YOLO 細節理解 - 網路架構程式碼解讀/*
homework/D36_keras-yolo3-master/*
homework/D37_model_data/*
homework/D39_kaggle人臉關鍵點資料集/*
